<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.drugsystem.mapper.DrugMapper">
    <select id="findAllDrugs" resultType="Drug">
        select * from drug
    </select>

    <select id="findDrugById" resultType="Drug">
        SELECT * FROM `drug` WHERE id =#{id}
    </select>


    <select id="checkShoppingCartById" resultType="int">
        SELECT purchaseStatus FROM `drug` WHERE id =#{id}
    </select>

    <select id="PurchaseRecordById" resultType="int">
        SELECT purchaseStatus FROM `drug` WHERE id =#{id}
    </select>



    <select id="purchaseDrugById" resultType="Drug">
        UPDATE drug SET purchaseStatus = "1" WHERE id =#{id}
    </select>

    <select id="shoppingCart" resultType="Drug">
        SELECT * FROM `drug` WHERE purchaseStatus ="1"
    </select>

    <select id="PurchaseRecord" resultType="Drug">
        SELECT * FROM `drug` WHERE purchaseStatus ="1"
    </select>

    <select id="removePurchaseById" resultType="Drug">
        UPDATE drug SET purchaseStatus = "0" WHERE id =#{id}
    </select>



</mapper>
